
@font-face {

/* font-family: EBGaramondSC; */

font-family: 'EB Garamond';
src: url('https://cshen.github.io/EBGaramond.otf');
}


/*
@font-face {
font-family: Kalocsai_Flowers;
src: url('https://cshen.github.io/Kalocsai_Flowers.ttf');
}
*/


