
@font-face {
font-family: EBGaramondSC;
src: url('https://cshen.github.io/EBGaramond.otf');
}

@font-face {
font-family: Kalocsai_Flowers;
src: url('https://cshen.github.io/Kalocsai_Flowers.ttf');
}



