
@font-face {
font-family: EBGaramondSC;
src: url('http://cs.adelaide.edu.au/~chhshen/fonts/EBGaramond.otf');
}

@font-face {
font-family: Kalocsai_Flowers;
src: url('http://cs.adelaide.edu.au/~chhshen/fonts/Kalocsai_Flowers.ttf');
}



